<div class="form">
  <h3 id="registration">Conference Registration Form</h3>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <legend for="fname">Full Name</legend>
    <input type="text" id="fname" formControlName="fullname">

    <legend for="company">Company</legend>
    <input type="text" id="company" formControlName="company">

    <legend for="email">Email</legend>
    <input type="text" id="email" formControlName="email">

    <legend for="region">Region</legend>
    <select id="region" formControlName="region">
      <option value="amer">AMER</option>
      <option value="emea">EMEA</option>
      <option value="apac">APAC</option>
    </select>

    <label>Role:</label>
    <input type="radio" id="analyst" value="analyst" formControlName="role">
    <label for="analyst">Analyst</label>
    <input type="radio" id="engineer" value="engineer" formControlName="role">
    <label for="engineer">Engineer</label>
    <input type="radio" id="manager" value="manager" formControlName="role">
    <label for="manager">Manager</label>
    <br>

    <input type="submit" value="submit" id="btn">
  </form>
</div>
 
<router-outlet></router-outlet>